@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Open+Sans:wght@300;400;600&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100&family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,700&display=swap');
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1eb4ff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
#header{
  background-color: white;
  font-family: 'Raleway', sans-serif;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}
.nav-item a {
  text-decoration: none;
}
.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: #ab3fd8;
}
#hero {
  width: 100%;
  margin-top: 70px;
  padding: 60px 0;
}
#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #364146;
}
#hero h2 {
  color: #576971;
  margin-bottom: 30px;
  font-size: 23px;
}
#hero .hero-img {
  text-align: center;
  
}
@keyframes zoom{
  0%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1.2);
  }
}
#hero .hero-img img {
  width: 70%;
  animation-name: zoom;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #hero h1 {
    font-size: 32px;
    line-height: 40px;
  }
  #hero h2 {
    font-size: 20px;
  }
  .about .content h3 {
    font-size: 28px !important;
  }
}
.redes img{
  max-height: 35px;
}
.btn-mio{
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #252440;
  background: transparent;
  text-align: center; 
  font-size: 1.3rem;
}
.btn-mio:hover:after {
  top: 0;
  left: 0;
}
.btn-mio:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #d6e1f7;
}
a.btn-mio{
  color: #364146;
  text-decoration: none;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #fff;
}
.services .icon-box:hover {
  transform: translateY(-5px);
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
  text-decoration: none;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box-pink:hover {
  border-color: #ff689b;
}
.services .icon-box-cyan:hover {
  border-color: #3fcdc7;
}
.services .icon-box-green:hover {
  border-color: #41cf2e;
}
.services .icon-box-blue:hover {
  border-color: #2282ff;
}
.card-text{
  text-align: justify;
}
h5.card-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.about {
  padding: 0;
  margin-top: 40px;
}
.about .container {
  background-color: #f7f8f9;
  padding: 60px 50px;
}
@media (max-width: 992px) {
  .about .container {
    padding: 30px;
  }
}
.about .content h3 {
  font-weight: 400;
  font-size: 32px;
  color: #364146;
  font-family: "Poppins", sans-serif;
}
.about .content p{
  text-align: justify;
}